{% extends "base.html.twig" %}

{% block title %} {{question.title }} {% endblock %}

{% block body %}
     {% include ('home/partials/_nav.html.twig') %}
  	{% for success, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash_success flash_message fs-2 alert alert-{{ success }}">
				{{ message }}
		     </div>
		{% endfor %}
	{% endfor %}

   <div class="show_container">
     <div class="d-flex flex-row-nowrap align-items-center">
          <h1 class="pb-2"> {{question.title}} </h1>
          <div class="question-tag"> Question </div>
          <img class="avatar" src="https://randomuser.me/api/portraits/men/65.jpg">
     </div>
     <p> {{question.content}} </p> 
     <br>
     {% for comment in question.comments %}
          <div class="question_response">
               <div class="d-flex align-items-center">
                    <img class="avatar" src="https://randomuser.me/api/portraits/men/82.jpg"></img>
                    <p> Luc </p>
                    <span> {{comment.createdAt | ago}} </span>
               </div>
               <p class=""> {{comment.content}} </p>
          </div>
     {% endfor %}
     <h3> Votre réponse </h3>
     <div class="comment_form">
          {{form_start(comment_form)}}
          {{form_rest(comment_form)}}
               <button class=""> soumettre</button>
          {{form_end(comment_form)}}
     </div>
   </div>
{% endblock %}