{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    {% include ('home/partials/_nav.html.twig') %}
    {% include ('home/partials/_sidebar.html.twig') %}

<ul>
    {% for question in questions %}
        <a href="{{path('question_show', { id: question.id}) }}" class="d-flex">
            <div></div>
            <div class="flex-fill d-flex flex-column">
                <i class = "fas fa-arrow-up"> </i>
                    <p> Demandé par Louis </p>
                    <span> {{question.createdAt | ago(locale="fr")}} </span>
                <i class= "fas fa-arrow-down"> </i>
                <div>
                    <h4> {{question.title}} </h4>
                    <p> {{question.content}} <p>
                </div>
                <div class="d-flex flex-row align-items-between">
                    <div class="d-flex flex-row justify-content-center">
                        <img class="ask_question_avatar" src=""/>
                        <p> test </p>
                    </div>
                    <div class="d-flex flew-row justify-content-center">
                        <i class="far fa-comment"></i>
                        <p> {{question.answers }} </p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</ul>

{% include ('home/partials/_footer.html.twig') %}

{% endblock %}
